/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/resume.html
/resources/resume-academic.html
/resources/resume-industry.html
/resources/css/bootstrap-3.3.7/*
/resources/*.pdf
.hgignore
.hg/
